/* ---- reset ---- */
body {
  margin: 0;
  font: normal 85% Arial, Helvetica, sans-serif;
}

.black-white {
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; */
  color: white;
  font-weight: bold;
}

.white-black h3 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  color: #000;
  font-weight: bolder;
}

.justblack {
  color: black;
  /* color: #424242; */
  font-weight: 600;
  /* font-style: oblique; */
}

.justblack h3 {
  color: black;
  /* color: #424242; */
  font-weight: 600;
  /* font-style: oblique; */
}

canvas {
  display: block;
  background-repeat: no-repeat;
}

#p-wrapper {
  position: absolute;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-size: cover;
  background-image: url("./../img/Optimized-alam-full.jpg");
  background-repeat: no-repeat;
  background-color: white;
  background-position: center center;
  overflow: hidden;
}

.svg-icons {
  height: 40px;
  width: 40px;
}

.content-center a {
  text-decoration: none;
}

.btns a {
  color: inherit !important;
  text-decoration: none !important;
}

a {
  font-weight: bold;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
  text-align: center;
}

img:hover {
  opacity: 0.5;
}

.img-circle {
  border-radius: 50%;
}

* {
  text-align: center;
  font-weight: 600;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.52;
  margin: 0;
  background-color: #cfd8dc;
}

.profile-pic {
  width: 300px !important;
  height: 300px !important;
}

.name {
  font-size: 2em;
  margin-top: 1em;
}

.about-me {
  list-style: none;
  /* line-height: 2.9; */
  line-height: 200%;
  padding-left: 0;
  font-size: 2.1em;
  font-weight: bolder;
}

.lg-text {
  font-size: 3.1em;

}

.description {
  font-size: 1.5em;
}

.content-center {
  padding-top: 1em;
}

h1,
ul {
  text-align: center;
}

#c-panel {
  display: none;
}

.panel {
  position: absolute;
  overflow: auto;
  left: 40%;
  padding-top: 30px;
  max-width: 500px;
  height: 100%;
  display: block;
  padding: 0px 10px;
  /* display: block; */
  background: rgba(17, 72, 117, 0.2);
  border-image: linear-gradient(212deg, #833ad9, #137691, #1165a4) 1 1;
  border-radius: 4px;
}

.panel {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.panel::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

@media screen and (max-width: 550px) {
  #p-wrapper {
    background-image: url("./../img/alam-xsm.jpg");
  }

  /* .extraspace {
    display: none;
  } */

  .about-me {

    font-size: 1.5em;
  }

  .lg-text {

    font-size: 2.1em;
  }

  .content-center h3 {
    font-size: 26px;
  }

  .particles-js-canvas-el {
    width: auto !important;
    height: 100vh !important;
  }
}

@media screen and (min-width: 551px) and (max-width: 880px) {
  #p-wrapper {
    background-image: url("./../img/alam-sm.jpg");
  }

  /* .extraspace {
    display: block;
  } */



  .about-me {

    font-size: 1.5em;
  }

  .lg-text {

    font-size: 2.1em;
  }

}

@media screen and (min-width: 881px) {
  #p-wrapper {
    /* display: block !important; */
  }

  .about-me {
    list-style: none;
    /* line-height: 2.9; */
    line-height: 200%;
    padding-left: 0;
    font-size: 2.1em;
    font-weight: bolder;
  }

  .lg-text {
    font-size: 3.1em;

  }
}

/* tooltip/ */

span {
  color: #e91e63;
  font-family: monospace;
  white-space: nowrap;
}

span:after {
  font-family: Arial, sans-serif;
  text-align: left;
  white-space: normal;
}

span:focus {
  outline: none;
}

.wrap {
  background: #ecf0f1;
  color: #607d8b;
  height: 100%;
  overflow: auto;
  padding: 1em 2.5em;
  text-align: center;
  width: 100%;
}

h1 {
  color: #e91e63;
  font-family: "Audiowide", cursive;
  font-size: 2em;
  font-size: 7vw;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.5em 0 2.5em;
  text-shadow: 1px 1px 1px #fefefe;
}



@media (min-width: 1075px) {
  h1 {
    font-size: 4.7em;
  }
}

pre {
  background: #fff;
  display: inline-block;
  font-size: 0.55em;
  margin-top: 2em;
  padding: 1em;
}

@media (min-width: 360px) {
  pre {
    font-size: 0.7em;
  }
}

@media (min-width: 500px) {
  pre {
    font-size: 1em;
  }
}

/*== start of code for tooltips ==*/
.tool {
  cursor: help;
  position: relative;
}

/*== common styles for both parts of tool tip ==*/
.tool::before,
.tool::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tool:hover::before,
.tool:focus::before,
.tool:hover::after,
.tool:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 100;
}

/*== pointer tip ==*/
.tool::before {
  border-style: solid;
  border-width: 1em 0.75em 0 0.75em;
  border-color: #3e474f transparent transparent transparent;
  opacity: 0.9;

  bottom: 100%;
  content: "";
  margin-left: -0.5em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26),
    opacity 0.65s 0.5s;
  transform: scale(0.6) translateY(-90%);
}

.tool:hover::before,
.tool:focus::before {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
}

/*== speech bubble ==*/
.tool::after {
  background: #3e474f;
  opacity: 0.9;
  border-radius: 0.25em;
  bottom: 180%;
  color: #edeff0;
  content: attr(data-tip);
  margin-left: -8.75em;
  padding: 1em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
  width: 17.5em;
}

.tool:hover::after,
.tool:focus::after {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@media (max-width: 760px) {
  .tool::after {
    font-size: 0.75em;
    margin-left: -5em;
    width: 10em;
  }
}